---

---
<div id="contact" class="flex flex-col gap-fl-base">
    <div class="">
        <h4 class="capitalize">Get in touch</h4>
        <p class="max-w-2xl">New floors can change the look, feel, and quality of your home. We will help you tear out your existing floors and update them with the current trends. Don’t lose any more of your valuable time and contact us today!</p>
    </div>
    <div class="gap-fl-base grid grid-cols-1 lg:grid-cols-3">
        <div class="gap-fl-base grid grid-cols-1 lg:col-span-1 p-fl-base border border-neutral-200 rounded-2xl">
            <div class="flex flex-col justify-center items-center p-fl-base border-2 border-neutral-200 border-dashed rounded-2xl text-center">
                <a href="tel:639-999-8845" class="hover:underline">639-999-8845</a>
            </div>

            <div class="flex flex-col justify-center items-center p-fl-base border-2 border-neutral-200 border-dashed rounded-2xl text-center">
                <a href="mailto:info@ntiling.ca" class="hover:underline">info@ntiling.ca</a>
            </div>

            <div class="flex flex-col justify-center items-center p-fl-base border-2 border-neutral-200 border-dashed rounded-2xl text-center">
                <p>Regina, Saskatchewan</p>
            </div>
        </div>
        <form class="flex flex-col gap-fl-base lg:col-span-2 p-fl-base border border-neutral-200 rounded-2xl font-semibold" name="contact" action="/thank-you" method="POST" data-netlify="true">

            <input 
            class="px-fl-sm py-fl-xs border-2 border-neutral-200 border-dashed rounded-2xl" 
            type="text"
            name="name"
            placeholder="Your Name"
            required>

            <input 
            class="px-fl-sm py-fl-xs border-2 border-neutral-200 border-dashed rounded-2xl" 
            type="email" 
            name="email" 
            placeholder="Your E-Mail" 
            required>

            <textarea 
            class="px-fl-sm py-fl-xs border-2 border-neutral-200 border-dashed rounded-2xl" 
            name="message"
            placeholder="Your Message"
            required></textarea>
            <button 
            type="submit" 
            class="bg-rusty-nail-950 hover:bg-rusty-nail-900 p-fl-xs rounded-2xl font-semibold text-neutral-50 text-center capitalize transition-all duration-500 ease-in-out hover:cursor-pointer">
            Send Message</button>
        </form>
    </div>
</div>