---
import { siteData } from "@/utils/global";
---
<footer class="border-neutral-200 border-t">
    <div class="flex flex-row flex-wrap justify-between items-center gap-fl-sm mx-auto p-fl-base container">
        <p>{siteData.copyright}</p>
        <a href={siteData.developerURL} class="hover:underline" target="_blank" rel="noopener noreferrer">Developer: {siteData.developer}</a>
    </div>
</footer>