---
const { buttonText="Click Me", href="/" } = Astro.props;
---
<a href={href} class="flex-1 p-fl-xs border border-rusty-nail-950/10 hover:border-rusty-nail-950 rounded-2xl font-semibold text-neutral-950 text-center capitalize transition-all duration-500 ease-in-out">{buttonText}</a>